<mat-toolbar color="primary">
  <div class="wa-header-block">
    <div class="wa-header-conent" style="justify-content: left"> 
      <button mat-flat-button>    
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="wa-header-conent logo">
      <div class="wa-item-inline wa-verticle-middle">
        <img src="../../assets/img/header/cloudy.png"/>
      </div>
      <div class="wa-item-inline wa-verticle-middle">{{appName}}</div>
    </div>
    <div class="wa-header-conent">
      <button mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>